body{

background-image: url("./images/my3.webp");
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color: white;
    padding: 1.5%;  
}
#bedrome{
    text-decoration: underline;
    text-decoration-color: #14a620;
   
}
.navigation{
    width: 60vw;
    float: right;
    text-align: end;
   display: block;
   clear: both;
   margin-right: 1%;
   padding-right: 2%;
}
img{
    float: left;
    width: 8%;
   margin-top: 1%;
    margin-left: 7%;
    clear: both;
    
}
.main-contant{


clear: both;
width: 100vw;
height: 50vh;
margin-top: 10%;

}
#h1style{
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 40px;
   letter-spacing: 1px;
   
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p1-style{
    color: white;
    text-align: center;
    font-size: small;
    text-transform: capitalize;
    font-family:'Segoe UI';
}


.btn-class{
    color: white;
    text-align: center;
  
    
}
#btn1{
    color: white;
    border: 2px solid black;
    border-radius: 50px;
    background-color: #14a620;
    
    width:250px;
    height: 50px;
    font-family:'Segoe UI';
}
#btn2{
    color: white;
    border: 2px solid #14a620;
    border-radius: 50px;
    background-color: #2a2929;
    width:250px;
    height: 50px;
    font-family:'Segoe UI';
}